body{
    background-color: black;
}
div{
    color: black;
    background-color: #61d4b3;
    width: 310px;
    padding: 2px;
    border-radius: 3px;
    margin: 20px;
    box-shadow: 2px 3px 3px 3px white;

}
        h1{
            color: #fd2eb3;
         
            
        }
        h2{
            color: #fdd365;
            background-color: gray;
    
        }
        h3{
            color: #fb8d62;
     
        }
        #
    

